// CSS Variables

:root {
    --x: 0;
    --y: 0;
    --scaleY: 1;
    --bgX: 0;
    --bgY: 0;
    --angle: 0;
    --colour: rgba(255, 255, 255, 0);
    --imgUrl: url('');
}

// SCSS Variables

@font-face {
    font-family: 'bangersregular';
    src: url('../assets/fonts/bangers-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/bangers-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'press_start_2pregular';
    src: url('../assets/fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

$fontTitles: 'bangersregular';
$fontPixel: 'press_start_2pregular';

// Colour Palette

$colAccentDark: rgba(130, 52, 0, 1);
$colAccent: rgba(193, 30, 1, 1);
$colPrimary: rgba(255, 212, 112, 1);
$colSecondaryLight: rgba(42, 98, 143, 1);
$colSecondaryDark: rgba(19, 41, 61, 1);

